Notebook for preparing edge sheet from network-graph.csv

In [2]:
import csv
import json
import pandas as pd
from itertools import chain, combinations
from collections import Counter
import functools
import operator
from tqdm.notebook import tqdm

In [3]:
# set pandas display options
pd.set_option("display.max_rows", 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option("display.max_columns", 200)

In [21]:
conv_file = "/Users/geistling/Documents/1_Projects/bandcamp/bandcamp_viz/notebooks/network-graph.csv"
edge_file = "/Users/geistling/Documents/1_Projects/bandcamp/bandcamp_viz/notebooks/edge_sheet.csv"
node_file = "/Users/geistling/Documents/1_Projects/bandcamp/bandcamp_viz/notebooks/node_sheet.csv"

In [5]:
album_data = pd.read_csv(conv_file)

# 1. Produce edge_sheet.csv from network-graph.csv

In [48]:
grouped = Collected.groupby('location')
grouped.count()
# for group in grouped:
#     group['genre1'].value_counts()

                            genre1  genre2  count
location
Adelaide SA, Australia        2265    2265   2265
Albuquerque, NM, USA          1102    1102   1102
Amsterdam, Netherlands        2495    2495   2495
Antwerp, Belgium              1062    1062   1062
Asheville, NC, USA            2371    2371   2371
Athens, GA, USA               1316    1316   1316
Athens, Greece                3158    3158   3158
Atlanta, GA, USA              3527    3527   3527
Auckland, New Zealand         2350    2350   2350
Austin, TX, USA               4996    4996   4996
Baltimore, MD, USA            2657    2657   2657
Barcelona, Spain              3082    3082   3082
Beijing, China                 830     830    830
Belfast, UK                   1883    1883   1883
Belgrade, Serbia              1067    1067   1067
Berkeley, CA, USA             1474    1474   1474
Berlin, Germany               4674    4674   4674
Birmingham, UK                2152    2152   2152
Bloomington, IN, USA           876     876    876
Bogota, Colombia               798     798    798
Bologna, Italy                1414    1414   1414
Bordeaux, France              1371    1371   1371
Boston, MA, USA               4428    4428   4428
Boulder, CO, USA              1207    1207   1207
Bournemouth, UK                575     575    575
Brighton, UK                  3069    3069   3069
Brisbane QLD, Australia       2699    2699   2699
Bristol, UK                   2996    2996   2996
Brooklyn, NY, USA             4638    4638   4638
Brussels, Belgium             2437    2437   2437
Bucharest, Romania             685     685    685
Budapest, Hungary             1957    1957   1957
Buenos Aires, Argentina       2388    2388   2388
Buffalo, NY, USA              1792    1792   1792
Calgary, AB, Canada           2320    2320   2320
Cape Town, South Africa       1821    1821   1821
Cardiff, UK                   1562    1562   1562
Charlotte, NC, USA            1382    1382   1382
Chicago, IL, USA              5182    5182   5182
Cincinnati, OH, USA           2035    2035   2035
Cleveland, OH, USA            1916    1916   1916
Cologne, Germany              2076    2076   2076
Columbus, OH, USA             1826    1826   1826
Copenhagen, Denmark           2260    2260   2260
Dallas, TX, USA               2346    2346   2346
Dayton, OH, USA               1914    1914   1914
Denver, CO, USA               3634    3634   3634
Detroit, MI, USA              2810    2810   2810
Dresden, Germany              1220    1220   1220
Dublin, Ireland               2539    2539   2539
Durham, NC, USA                836     836    836
Düsseldorf, Germany            772     772    772
Edinburgh, UK                 2340    2340   2340
Edmonton, AB, Canada          2023    2023   2023
Frankfurt, Germany            1202    1202   1202
Geneva, Switzerland           1104    1104   1104
Ghent, Belgium                1121    1121   1121
Glasgow, UK                   3108    3108   3108
Gothenburg, Sweden            1383    1383   1383
Grenoble, France               797     797    797
Hamburg, Germany              3036    3036   3036
Hamilton, ON, Canada          1568    1568   1568
Helsinki, Finland             1935    1935   1935
Hong Kong                     1393    1393   1393
Houston, TX, USA              2123    2123   2123
Indianapolis, IN, USA         1722    1722   1722
Johannesburg, South Africa    1135    1135   1135
Kansas City, MO, USA          2177    2177   2177
Kyiv, Ukraine                 1194    1194   1194
Las Vegas, NV, USA            1908    1908   1908
Lausanne, Switzerland          579     579    579
Leeds, UK                     2589    2589   2589
Leicester, UK                 1038    1038   1038
Leipzig, Germany              1802    1802   1802
Lille, France                 1192    1192   1192
Lima, Peru                    1736    1736   1736
Lisbon, Portugal              2012    2012   2012
Liverpool, UK                 2054    2054   2054
London, UK                    5851    5851   5851
Long Beach, CA, USA           2076    2076   2076
Los Angeles, CA, USA          6850    6850   6850
Louisville, KY, USA           1154    1154   1154
Lyon, France                  2126    2126   2126
Madison, WI, USA              1690    1690   1690
Madrid, Spain                 1858    1858   1858
Malmö, Sweden                 1016    1016   1016
Manchester, UK                4028    4028   4028
Marseille, France             1258    1258   1258
Melbourne VIC, Australia      5514    5514   5514
Memphis, TN, USA              1324    1324   1324
Mexico City, CDMX, Mexico     2126    2126   2126
Miami, FL, USA                2180    2180   2180
Milan, Italy                  1733    1733   1733
Milwaukee, WI, USA            2400    2400   2400
Minneapolis, MN, USA          3212    3212   3212
Montreal, QC, Canada          4872    4872   4872
Moscow, Russia                4158    4158   4158
Munich, Germany               1859    1859   1859
Nantes, France                1504    1504   1504
Nashville, TN, USA            2712    2712   2712
New Orleans, LA, USA          2233    2233   2233
New York, NY, USA             6917    6917   6917
Newcastle upon Tyne, UK       2117    2117   2117
Nijmegen, Netherlands          673     673    673
Nottingham, UK                1666    1666   1666
Oakland, CA, USA              4306    4306   4306
Olympia, WA, USA              1262    1262   1262
Omaha, NE, USA                 901     901    901
Orlando, FL, USA              2061    2061   2061
Oslo, Norway                  2191    2191   2191
Ottawa, ON, Canada            1665    1665   1665
Paris, France                 4497    4497   4497
Perth WA, Australia           2319    2319   2319
Philadelphia, PA, USA         4690    4690   4690
Phoenix, AZ, USA              2809    2809   2809
Pittsburgh, PA, USA           2662    2662   2662
Portland, OR, USA             5257    5257   5257
Porto, Portugal               1184    1184   1184
Prague, Czechia               1557    1557   1557
Providence, RI, USA           1665    1665   1665
Queens, NY, USA               1257    1257   1257
Raleigh, NC, USA              1500    1500   1500
Rennes, France                1150    1150   1150
Reykjavík, Iceland            1009    1009   1009
Richmond, VA, USA             2374    2374   2374
Rio de Janeiro, Brazil        1842    1842   1842
Rochester, NY, USA            1630    1630   1630
Rome, Italy                   2334    2334   2334
Rotterdam, Netherlands         889     889    889
Sacramento, CA, USA           1920    1920   1920
Salt Lake City, UT, USA       1747    1747   1747
San Antonio, TX, USA          1530    1530   1530
San Diego, CA, USA            3508    3508   3508
San Francisco, CA, USA        4492    4492   4492
San Jose, CA, USA             1739    1739   1739
Santa Cruz, CA, USA           1179    1179   1179
Santiago, Chile               1749    1749   1749
Seattle, WA, USA              4884    4884   4884
Seoul, South Korea            1713    1713   1713
Sheffield, UK                 1929    1929   1929
Singapore                     1416    1416   1416
St Petersburg, Russia         3228    3228   3228
St. Louis, MO, USA            1516    1516   1516
Stockholm, Sweden             1879    1879   1879
Stuttgart, Germany            1038    1038   1038
Sydney NSW, Australia         4274    4274   4274
São Paulo, Brazil             2365    2365   2365
Tampa, FL, USA                1590    1590   1590
Tbilisi, Georgia               573     573    573
Tel Aviv-Yafo, Israel         1212    1212   1212
The Hague, Netherlands         568     568    568
Thessaloniki, Greece          1656    1656   1656
Tokyo, Japan                  4549    4549   4549
Toronto, ON, Canada           5247    5247   5247
Toulouse, France              1550    1550   1550
Tucson, AZ, USA               1836    1836   1836
Tulsa, OK, USA                1277    1277   1277
Utrecht, Netherlands           930     930    930
Valencia, Spain               1005    1005   1005
Vancouver, BC, Canada         3883    3883   3883
Victoria, BC, Canada          1786    1786   1786
Vienna, Austria               1981    1981   1981
Vilnius, Lithuania            1178    1178   1178
Warsaw, Poland                2110    2110   2110
Washington, DC, USA           3426    3426   3426
Wellington, New Zealand       1404    1404   1404
Winnipeg, MB, Canada          1461    1461   1461
Zagreb, Croatia               1762    1762   1762
Zürich, Switzerland           1419    1419   1419
İstanbul, Turkey              1105    1105   1105

In [6]:
# global tallying, edges
grouped = album_data.groupby('standard_name')
Collected = pd.DataFrame(columns =['genre1', 'genre2','count','location'])

for place, group in grouped:
    edge_list = []
    genre_list = group['genre']
    for item in genre_list:
        genres_in_list = sorted(list(item.split(",")))
        # need to figure out which genres appear most between both columns
        genre_combs = combinations(genres_in_list, 2)
        # return list of tuples
        for combination in genre_combs:
            edge_list.append([combination])
    edge_tally = Counter(chain(*edge_list))

    edge_tallies_dict = dict(edge_tally)

    edgeprep_dataframe = pd.DataFrame.from_dict(edge_tallies_dict, orient='index')
    edgeprep_dataframe.rename(columns = {0:'count'}, inplace = True) 
    edgeprep_dataframe['genre_pair'] = edgeprep_dataframe.index
    edgeprep_dataframe['row'] = edgeprep_dataframe.reset_index().index
    edgeprep_dataframe = edgeprep_dataframe.set_index(['row'])

    genre_edges = pd.DataFrame(list(edgeprep_dataframe['genre_pair']), columns =['genre1', 'genre2']) 

    count = edgeprep_dataframe['count']
    genre_edges = genre_edges.join(count)
    genre_edges['location'] = place
    Collected = Collected.append(genre_edges)

In [7]:
Collected.to_csv(edge_file, index=False)

In [8]:
Collected.head()

       genre1       genre2 count                location
0         ebm   electronic    28  Adelaide SA, Australia
1         ebm  electronica    23  Adelaide SA, Australia
2         ebm   industrial    27  Adelaide SA, Australia
3  electronic  electronica    63  Adelaide SA, Australia
4  electronic   industrial    27  Adelaide SA, Australia

In [36]:
with open(json_file, "r") as jsonFile:
    json_output = json.load(jsonFile)
node_reader = pd.read_csv(node_file)
node_reader = node_reader.sort_values(['location', "count"], ascending = (True, False))
node_reader

,location,genre,lat,lng,count,prop,relative
55,"Adelaide SA, Australia",electronic,-34.928499,138.600746,445,0.072217,0.852948
3,"Adelaide SA, Australia",alternative,-34.928499,138.600746,245,0.039760,1.726768
138,"Adelaide SA, Australia",rap/hip hop,-34.928499,138.600746,196,0.031808,1.089582
142,"Adelaide SA, Australia",rock,-34.928499,138.600746,175,0.028400,1.166589
109,"Adelaide SA, Australia",metal,-34.928499,138.600746,168,0.027264,1.738526
...,...,...,...,...,...,...,...
26037,"İstanbul, Turkey",singer songwriter,41.008238,28.978359,4,0.001190,0.227413
26040,"İstanbul, Turkey",space,41.008238,28.978359,4,0.001190,0.931773
26041,"İstanbul, Turkey",stoner,41.008238,28.978359,4,0.001190,1.074476
26045,"İstanbul, Turkey",synthesizer,41.008238,28.978359,4,0.001190,1.142845
26056,"İstanbul, Turkey",underground hip hop,41.008238,28.978359,4,0.001190,0.560594

In [39]:
edge_reader = pd.read_csv(edge_file)
# edge_reader = edge_reader.sort_values(['location', "genre1"], ascending = (True, False))
edge_reader

              genre1       genre2  count                location
0                ebm   electronic     28  Adelaide SA, Australia
1                ebm  electronica     23  Adelaide SA, Australia
2                ebm   industrial     27  Adelaide SA, Australia
3         electronic  electronica     63  Adelaide SA, Australia
4         electronic   industrial     27  Adelaide SA, Australia
...              ...          ...    ...                     ...
372240         space       stoner      1        İstanbul, Turkey
372241         space  stoner rock      1        İstanbul, Turkey
372242       ambient   industrial      1        İstanbul, Turkey
372243       ambient       techno      1        İstanbul, Turkey
372244  experimental   soundscape      1        İstanbul, Turkey

[372245 rows x 4 columns]

# 3. produce json file from the edge and node sheet

In [31]:
json_file = "/Users/geistling/Documents/1_Projects/bandcamp/bandcamp_viz/data/network_graph.json"

In [37]:
with open(json_file, "r") as jsonFile:
    json_output = json.load(jsonFile)
node_reader = pd.read_csv(node_file)
# order rows so most frequent genres have the smallest numbers
node_reader = node_reader.sort_values(['location', "count"], ascending = (True, False))

# idea - 
node_id = 1
for row in node_reader.itertuples():
    place_obj = {'n':[], 'l':[]}
    place_matches = [obj for obj in json_output if obj['ct'] == row.location]
    if not place_matches:
#         print("NEW PLACE:", row.location)
        place_obj['ct'] = row.location
        place_obj['cor'] = [row.lng, row.lat]
        json_output.append(place_obj)
        node_id = 1
    elif place_matches:
        place_obj = place_matches[0]
    place_obj["n"].append({"g":row.genre,"c":row.count,"i":node_id,"r":round(row.relative, 3)})
    node_id += 1

def genre_lookup(place_obj, genre):
    node_match = [node for node in place_obj['n'] if node['g'] == genre]
#     print(node_match)
    return node_match[0]["i"]
        

link_reader = pd.read_csv(edge_file)
for row in link_reader.itertuples():
#     place_matches = [json_output[json_output['ct'].str.contains(row.location)]]
    place_matches = [obj for obj in json_output if obj['ct'] == row.location]
    if not place_matches:
        print(row)
    place_obj = place_matches[0]
    g1 = genre_lookup(place_obj, row.genre1)
    g2 = genre_lookup(place_obj, row.genre2)
    place_obj["l"].append({"s":g1,"t":g2,"c":row.count})

with open(json_file, "w") as jsonFile:
    json.dump(json_output, jsonFile, separators=(',', ':'))